body {
    background-color: #0f0f0f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;    
}


.border {
    width: 350px;
    height: 220px;
    border: solid 5px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

input {
    background-color: #f0f0;
    border: 2px solid #f0f0f0;
    color: #fff;
    display: flex;
    width: 40px;
    height: 30px;
    text-align: center;    
    margin-top: 200px;
    margin-bottom: 120px;
}

.input {
    margin: 20px;
}

textarea {
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

a {
    color: #ff0000;
    text-decoration:none;    
}